{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}
<h1>PostList</h1>

<div class="container-fluid">
{% for post in posts %}
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <div class="card-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><p>{{ post.publish }}</p>
            </div>
            <div class="card-text">
                {{ post.body }}
            </div>
        </div>

        <p></p>
    </div>
{% endfor %}
</div>

{% include "pagination.html" with page=page_obj %}

{% endblock content %}